<div class="container">
  <div class="row">
    <div class="col-lg-12 pb-2">
      <h2>Select an implementation</h2>
    </div>
  </div>
  <div class="row pt-4 border-top">
    <div class="col-lg-12">
      <h6>
        <a routerLink="/list/redux">NgRx and Store Implementation</a>
      </h6>
      <p>This implementation uses NgRx to manage application states using the Redux pattern. Consequently, services are loosely coupled from the UI and require less API calls.</p>
    </div>
    <div class="col-lg-12">
      <h6>
        <a routerLink="/list/subscribe">Subscription and RxJS Implementation</a>
      </h6>
      <p>This implementation uses RxJs and a subscription model that integrates observables with services to ensure data is always up to date.</p>
    </div>
  </div>
</div>