<app-loader [loading]="loading"></app-loader>

<div class="search">
  <form>
    <app-search-input [searchType]="'taxonomies'" (searchForResults)="triggerSearch($event)"></app-search-input>
    <app-search-results [searchType]="'taxonomies'" [searchResults]="taxonomiesSearchResults"></app-search-results>
  </form>
</div>

<div class="index" *ngIf="taxonomies">
  <div class="taxonomies">
    <article class="taxonomy" *ngFor="let taxonomy of taxonomies">
      <h6>Created {{ taxonomy.created }} &nbsp;|&nbsp; Updated {{ taxonomy.lastModified }}</h6>
      <p><em>ID {{ taxonomy.taxonomyId }}</em></p>
      <h3>{{ taxonomy.taxonomyName }}</h3>
      <h4>{{ taxonomy.businessStream }} &nbsp;|&nbsp; {{ taxonomy.taxonomyType }}</h4>
      <section>
        <p>Descriptors:</p>
        <ul>
          <li *ngFor="let descriptor of taxonomy.descriptorValues">{{ descriptor }}</li>
        </ul>
      </section>
    </article>
  </div>
</div>

<div class="index" *ngIf="articles">
    <div class="articles">
        <article class="article" *ngFor="let article of articles">
            <h6>Article No. {{ article.id }} &nbsp;|&nbsp; Posted by User No. {{ article.userId }}</h6>
            <h3>{{ article.title }}</h3>
            <p>Body{{ article.body }}</p>
          </article>
      </div>
</div>
