label {
    display: block;
    font-weight: 300;
}

input {
    width: calc(100% - 150px);
    max-width: 480px;
    padding: 5px 8px;
}

button {
    width: 72px;
    padding: 6px 12px;
    vertical-align: baseline;
    border-radius: 0rem;
    margin-left: 3px;

    &:focus,
    &:active:focus {
        box-shadow: none;
    }
}
