label {
    display: block;
    font-weight: 300;
}

input {
    width: 100%;
    max-width: 480px;
    padding: 5px 8px;
}

button {
    padding: 6px 12px;
    vertical-align: baseline;
    border-radius: 0rem;
    margin-left: 1px;
}